.App {
  text-align: center;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ECECEC;
  padding: 20px;
  margin-top: 30px;
}

.search-container {
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
}

.statistics { 
  background: #ECECEC;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}


.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.controls {
  display: flex;
  max-width: 400px;
  border: 1px solid #ECECEC;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}


div .controls input {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0%;
}

.summary {
  text-align: left;
  margin-top: 30px;
  font-size: 16px;
  padding: 15px 15px 5px 15px;
}

.summary-details {
  display: flex;
  width: 100%;
  max-width: 200px;
  justify-content: space-between;
  padding: 15px;
  background-color: #ECECEC;
  border-radius: 7px;
}

.error {
  color: red;
  margin-top: 20px;
}